body {
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .flashcard-review-wrapper {
    width: 50%;
    margin: 40px auto;
    position: relative; /* Allow absolute positioning of child elements */
  }
  
  .review-container {
    text-align: center;
    padding: 20px;
    position: relative;
  }
  
  .flashcard-box {
    background-color: #f9f9f9;
    height: 250px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 80px;
  }
  
  .flashcard-counter {
    position: absolute;
    top: 10px; /* Positioned at the top center of the flashcard box */
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
  .flashcard-term-definition {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: normal;
  }
  
  .flashcard-content {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }
  
  .nav-button {
    min-width: 100px;
    color: 333;
  }
  
  .back-button {
    position: absolute;
    top: 10px; /* Positioned at the top right */
    left: 660px;
    font-size: 1rem;
    font-weight: bold;
    color: #00796b; /* Example color */
  }
  