body {
  background-color: #f5f5f5;
}

.flashcard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.flashcard-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.flashcard-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.flashcard-input-container label {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px;
}

.flashcard-input-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}

.submit-button,
.cancel-button {
  background-color: #925cf3;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
}

.cancel-button {
  background-color: #f44336;
}

.flashcard-list {
  margin-top: 0px;
}

.flashcard-item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flashcard-actions {
  display: flex;
  gap: 10px;
}

.flashcard-actions button {
  background: none;
  border: none;
  color: #432874;
  font-size: 0.9rem;
  cursor: pointer;
  align-items: center;

}

.flashcard-actions button:hover {
  text-decoration: underline;
}

.title,
.description {
  flex: 1;
  font-size: 0.9rem;
  color: #333;
}

.title strong,
.description strong {
  display: block;
  font-weight: bold;
  color: #666;
}

.no-flashcards-message {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #f0ebfa;
  border: 1px solid #432874;
  color: #432874;
  font-size: 1.1rem;
  font-weight: bold;
}

.no-flashcards-message p {
  margin-bottom: 15px;
}

.form-buttons {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.form-buttons button {
  margin: 0 10px;
}

.flashcard-details {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.review-button {

  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 15px;
}
